/* Google Font Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/* WebKit */
::-webkit-scrollbar {
    display: none;
}

/* Global Styling */
body {
    font-family: 'Roboto Slab', serif;
}

/* Parallax Header */
.parallax-background {
    width: 100%;
    height: 50vh;
}

.parallax-background > img {
    width: 100%;
    height: 130%;
}

.parallax-title-container {
    width: 80%;
    height: 10vh;
    color: black;
    position: relative;
    top: 35%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.parallax-title-container > h1 {
    font-size: 28px;
}

.parallax-title-container > hr {
    width: 60%;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 10vh;
    position: absolute;
    top: 56%;
    left: 32%;
    font-size: 40px;
}

.icon-container > a {
    color: black;
}

.icon-container > a :hover {
    color: white;
    cursor: pointer;
}

.parallax-down-arrow {
    width: 20%;
    height: 10%;
    position: relative;
    top: 78%;
    left: 40%;
}

.down-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    left: 35%;
    top: 40%;
}

.navbar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.test {
    height: 100vh;
}

/* About Section */
.about-section-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-section-title {
    font-size: 20px;
}

.about-section-picture {
    width: 55%;
    height: 30%;
    border-radius: 50%;
    border: 1px solid #696969;
    background-image: url("../../assets/profile-picture.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.about-section-intro {
    color: #696969;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin: 0 5%;
}

/* Media Queries */
@media only screen and (min-width: 768px){
    /* Parallax Section */
    .parallax-title-container {
        width: 60%;
        left: 20%;
    }

    .parallax-title-container > h1 {
        font-size: 60px;
    }

    .parallax-title-container > hr {
        width: 70%;
    }

    .parallax-title-container > h2 {
        font-size: 30px;
    }

    .icon-container {
        font-size: 50px;
        width: 20%;
        left: 39%;
    }

    .down-arrow {
        padding: 23px;
        top: 30%;
    }

    /* About Section */
    .about-section-title {
        font-size: 40px;
    }

    .about-section-picture {
        width: 40%;
    }

    .about-section-intro {
        font-size: 35px;
    }

    .about-section-bio {
        font-size: 24px;
    }

}

@media only screen and (min-width: 1024px){
    /* Parallax Section */
    .parallax-title-container {
        width: 40%;
        left: 30%;
    }

    .parallax-title-container > h1 {
        font-size: 40px
    }

    .parallax-title-container > hr {
        width: 60%;
    }

    .parallax-title-container > h2 {
        font-size: 25px;
    }

    .icon-container {
        font-size: 45px;
        width: 10%;
        left: 44.5%;
    }

    .down-arrow {
        left: 43%;
        border-width: 0 2px 2px 0;
        padding: 20px;
    }

    /* About Section */
    .about-section-container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .about-section-picture {
        width: 25%;
        height: 40%;
        border-radius: 50%;
        border: 1px solid #696969;
        background-image: url("../../assets/profile-picture.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 60%;
    }

    .about-section-intro {
        font-size: 35px;
    }

    .about-section-bio {
        font-size: 24px;
        margin: 0 4%;
    }
}