/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Global Styling */
body {
    font-family: 'Raleway', sans-serif;
}

/* Mobile */
.navbar-container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}